בס"ד

ב"ה

# Kitchen Dreams

This is our official notebook for submission

Data is limited to the 5 boroughs of New York City because of the complexity of the borders between Queens and Long Island and between The Bronx and Westchester

In [1]:

from src.restaurant_analysis.rest_analysis import Scrape
a = Scrape('https://www.census.gov/quickfacts/fact/table/richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/RHI825222#RHI825222')
b = Scrape('https://www.census.gov/quickfacts/fact/table/richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/INC110222#INC110222')

In [5]:
race = a.reader()
median_income = b.reader()
race[0]

,All Topics Population Age and Sex Race and Hispanic Origin Population Characteristics Housing Families & Living Arrangements Computer and Internet Use Education Health Economy Transportation Income & Poverty Businesses Geography,"Richmond County, New York","Bronx County, New York","Queens County, New York","Kings County, New York","New York County, New York"
0,"White alone, not Hispanic or Latino, percent", 56.6%, 8.7%, 23.9%, 36.7%, 45.5%

In [48]:
import pandas as pd
rests = pd.read_csv('restaurants_data.csv')
rests.head()

,name,rating,price,zip_code,categories,cuisine,borough
0,Piccoli Trattoria,4.5,$$,11215,"Italian, Pasta Shops, Wine Bars",Italian,"Brooklyn, NY"
1,Osteria Brooklyn,4.5,$$$,11205,Italian,Italian,"Brooklyn, NY"
2,Barbalu - Brooklyn,4.5,Not Available,11201,"Italian, Pizza, Bars",Italian,"Brooklyn, NY"
3,Cent'Anni,4.0,$$,11238,Italian,Italian,"Brooklyn, NY"
4,Ammazzacaffè,4.5,$$,11211,"Cocktail Bars, Italian, Wine Bars",Italian,"Brooklyn, NY"

In [49]:
manhattan_zip_codes = ['10001', '10002', '10003', '10004', '10005',
    '10006', '10007', '10009', '10010', '10011',
    '10012', '10013', '10014', '10016', '10017',
    '10018', '10019', '10020', '10021', '10022',
    '10023', '10024', '10025', '10026', '10027',
    '10028', '10029', '10030', '10031', '10032',
    '10033', '10034', '10035', '10036', '10037',
    '10038', '10039', '10040', '10128', '10280']

brooklyn_zip_codes = ['11201', '11203', '11204', '11205', '11206',
    '11207', '11208', '11209', '11210', '11211',
    '11212', '11213', '11214', '11215', '11216',
    '11217', '11218', '11219', '11220', '11221',
    '11222', '11223', '11224', '11225', '11226',
    '11228', '11229', '11230', '11231', '11232',
    '11233', '11234', '11235', '11236', '11237',
    '11238', '11239', '11249']

queens_zip_codes = ['11001', '11004', '11101', '11102', '11103',
    '11104', '11105', '11106', '11354', '11355',
    '11356', '11357', '11358', '11359', '11360',
    '11361', '11362', '11363', '11364', '11365',
    '11366', '11367', '11368', '11369', '11370',
    '11371', '11372', '11373', '11374', '11375',
    '11377', '11378', '11379', '11385', '11411',
    '11412', '11413', '11414', '11415', '11416',
    '11417', '11418', '11419', '11420', '11421',
    '11422', '11423', '11426', '11427', '11428',
    '11429', '11430', '11432', '11433', '11434',
    '11435', '11436', '11691', '11692', '11693',
    '11694', '11697']

staten_island_zip_codes = ['10301', '10302', '10303', '10304', '10305',
    '10306', '10307', '10308', '10309', '10310',
    '10311', '10312', '10314']

bronx_zip_codes = ['10451', '10452', '10453', '10454', '10455',
    '10456', '10457', '10458', '10459', '10460',
    '10461', '10462', '10463', '10464', '10465',
    '10466', '10467', '10468', '10469', '10470',
    '10471', '10472', '10473', '10474', '10475']

In [50]:
rests['where'] = rests.apply(lambda row: 'Manhattan' if str(row['zip_code']).strip() in manhattan_zip_codes
                             else ('Brooklyn' if str(row['zip_code']).strip() in brooklyn_zip_codes
                                   else ('Queens' if str(row['zip_code']).strip() in queens_zip_codes
                                         else ('The Bronx' if str(row['zip_code']).strip() in bronx_zip_codes
                                               else ('Staten Island' if str(row['zip_code']).strip() in staten_island_zip_codes
                                                     else 'other')))), axis=1)

In [51]:
rests[rests['where'] == 'other'].shape

(116, 8)

In [54]:
rests = rests[rests['price'] != 'Not Available'].reset_index(drop=True)

In [37]:
rests[rests['where'] == 'other']

Empty DataFrame
Columns: [name, rating, price, zip_code, categories, cuisine, borough, where]
Index: []

In [55]:
rests.shape

(650, 8)

In [41]:
rests.to_csv('new_rests_data.csv')